<mat-toolbar class="custom-toolbar" >
    <mat-toolbar-row>
      <span><img src="/assets/ara.png" style="height:15%;width:15%;" class="enlarge-on-hover"></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon> home </mat-icon>
      </button>
    </mat-toolbar-row>

  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="10">
    <mat-grid-tile > <img src="/assets/asi.webp" style="height:100%;width:100%;" class="enlarge-on-hover"> </mat-grid-tile>
    <mat-grid-tile > <p style ="color: white">EN ARASAKA GARANTIZAMOS LA MEJORA DEL CYBERWARE, EN ASOCIACION CON MILITECH, KIROSHI Y ZETATECH, CONTANDO CON MEJORAS OPTICAS, SE SISTEMA RUDIMENTARIO, CIRCULATORIO, NERVIOSO, IMPLANTES DE EXTREMIDADES Y LOS NUEVOS CHIPS NEUROLOGICOS MILITECH MK3, PARA LA CORRECTA MONITORIZACION DE TODO EL CYBERWARE, ADEMAS DE IMPAMTES MILITARES PARA LA DEFENSA DE ALTOS RANGOS CORPORATIVOS, TALES COMO GARRAS DE MANTIES, NANO CABLE Y </p></mat-grid-tile>
    <mat-grid-tile > <img src="/assets/12.gif" style="height:100%;width:100%;" class="enlarge-on-hover"> </mat-grid-tile>
  </mat-grid-list>